<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	<typeAliases>
		<typeAlias type="jdme.board.com.vo.JDMEBoardComVO" alias="jdmeboardcomvo"/>
		<typeAlias type="jdme.board.reply.vo.JDMEBoardReplyVO" alias="jdmeboardreplyvo"/>
		<typeAlias type="jdme.board.notice.vo.JDMEBoardNoticeVO" alias="jdmeboardnoticevo"/>
		<typeAlias type="jdme.board.qna.vo.JDMEBoardQnaVO" alias="jdmeboardqnavo"/>
		<typeAlias type="jdme.board.qnareply.vo.JDMEBoardQnaReplyVO" alias="jdmeboardqnareplyvo"/>
		<typeAlias type="jdme.member.vo.JDMEMemberVO" alias="jmvo"/>
		<typeAlias type="jdme.login.vo.TempAuthNumVO" alias="authnumvo"/>	
		<typeAlias type="jdme.login.vo.TempPwVO" alias="tpwvo"/>
		<typeAlias type="jdme.login.vo.ChangePwVO" alias="cpwvo"/>
	</typeAliases>
</configuration>