@charset "UTF-8";
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, p {
  margin: auto;
}

main {
  padding: 1rem;
  height: 100%;  
}

body {
  padding-top: 75px;
  background: #EEE;
}

body, html {
  height: 200%;
}

* {
  box-sizing: border-box;
}

.content{
	
  width: 200px;
  height: 1%;
  margin:55px;
  padding: 5px;
  display: inline-block;
}
.title{
	width: 200px;
  height: 50px;
  margin: 20px;
  padding: 10px;
  
}
.modal-overlay{
	width: 200px;
  height: 50px;
  margin: 20px;
  padding: 10px;
   display: inline-block;
	
}
.btn-modal{
	width: 200px;
  height: 50px;
  margin: 20px;
  padding: 10px;
   display: inline-block;
	
}
#cart_btn{
	width: 200px;
  height: 50px;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  
}
